.App {
  text-align: center;
  padding-top: 60px;
}

button {
  margin: 10px;
}

.Actions {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.List {
  display: flex;
  width: 100%;
  height: 100px;
  gap: 5px;
}

.Element {
  width: 20%;
  padding-top: 20%;
  flex-shrink: 0;
  display: inline-block;
  position: absolute;
  opacity: 1;
  transition: all 0.5s;

  &.First {
    opacity: 0;
    transform: translateX(-100%);
    &.Animation {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
